Source: tuquito-gnome-icons
Section: gnome
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-gnome-icons
Architecture: all
Description: Iconos de gnome para Tuquito
 Colección de Icono de gnome desarrollados por la comunidad para Tuquito
 * Tuquito Team! - 2010
